@import "../add-player-modal/add-player-modal.component.scss";

.hide_message{
  visibility: hidden;
}
.company_row {
  .add_row {
    height: 56vh;
    overflow-y: auto;
    .upload_box{
      max-width: 530px;
      margin: 100px auto 50px !important;
    }
    .change_avatar {
      label {
        line-height: 50px;
        width: 160px;
        border-radius: 3px;
        text-align: center;
        color: #ffffff;
        background: #2993C8;
        font-size: 15px;
        display: block;
        cursor: pointer;
      }

    }
    .upload_box{
      display: block;
      width: 100%;
      padding: 5px;
      border: 1px solid #EFF2F4;
      position: relative;
      margin-bottom: 20px;
      height: 63px;
      border-radius: 3px;
      label {
        line-height: 50px;
        width: 160px;
        border-radius: 3px;
        text-align: center;
        color: #ffffff;
        background: #95BF3E;
        font-size: 15px;
        display: block;
        cursor: pointer;
        position: absolute;
        right: 7px;
        top: 5px;
      }
      input {
        line-height: 47px;
        width: 100%;
        // opacity: 0;
      }
    }
    .upload{
      background: #fff !important;
      border: 1px solid #95BF3E !important;
      color: #95BF3E !important;
      margin: 0 auto;
    }
    .sms_cost{
      display: flex;
      justify-content: space-between;
      h6{
        padding-top: 15px;
      }
      .form-control{
        width: 200px;
      }
    }
  }

  .player_note{
    font-size: 14px;
    margin-top: 13px;
    span{
      font-size: 10px;
    }
  }


  p.event_desc {
    height:75px;
    padding-top: 100px;
    padding-left: 50px;
    margin: 0px;
    vertical-align: middle;
    padding: 10px;
  }

  input#file {
    opacity:0;
    position:absolute;
    left: 0;
    top: 0;
  }
  input#fakeInput {
    width: 100%;
    display:block;
    box-sizing: border-box;
    border:initial;
    height: 3em;
  }
  
}

@media (max-width: 767px){
  .company_row {
    .management_tab {
      height: auto;
    }

    .next_prev{
      display: block;
      .button-submit{
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .company_row{

    .add_row .upload_box {
      margin: 40px auto !important;
    }
  }
}
@media (max-width: 380px){
  .company_row .add_row {
    .sms_cost{
      display: block;
    }
    .upload_box label{
      width: 110px;
    }
  }
}
.table tbody+tbody{
  border-top: 1px solid #EBEDEF;
}
.show-more{
  color: #2993C8;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 20px;
  display: block;
}