<div class="company_tittle">
  <h3>Update Jackpot</h3>
  <a (click)="onNoClick()">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onNoClick()"></mat-icon>
  </a>
</div>
<form class="company_row" [formGroup]="jackpotUpdateForm" (ngSubmit)="submit()">
  <div class="form-group">
    <h6>Current  Jackpot (€)</h6>
    <mat-form-field class="full-width-input" appearance="outline">
      <input matInput placeholder="Jackpot Prize" type="number" formControlName="jackpot_prize">
      <mat-error class="error text-danger"
        *ngIf="(submitted || jackpotUpdateForm.controls['jackpot_prize'].touched) && jackpotUpdateForm.controls['jackpot_prize'].errors && jackpotUpdateForm.controls['jackpot_prize'].errors['required']">
        jackpot prize is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <h6>Next Draw Date</h6>
    <mat-form-field class="full-width-input date_field" appearance="outline">
      <input matInput [matDatepicker]="to_date_picker" formControlName="next_draw_date">
      <mat-datepicker-toggle matSuffix [for]="to_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker></mat-datepicker>

      <!-- <input matInput placeholder="Next Draw Date" formControlName="next_draw_date"> -->
      <mat-error class="error text-danger"
        *ngIf="(submitted || jackpotUpdateForm.controls['next_draw_date'].touched) && jackpotUpdateForm.controls['next_draw_date'].errors && jackpotUpdateForm.controls['next_draw_date'].errors['required']">
        Next Draw Date is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <h6>Draw Time</h6>
    <mat-form-field class="full-width-input" appearance="outline"> 
      <input  matInput aria-label="default time" [ngxTimepicker]="defaultTime" [format]=24 placeholder="Draw Time" formControlName="draw_time">
      <ngx-material-timepicker #defaultTime ></ngx-material-timepicker> 
      <mat-error class="error text-danger"
        *ngIf="(submitted || jackpotUpdateForm.controls['draw_time'].touched) && jackpotUpdateForm.controls['draw_time'].errors && jackpotUpdateForm.controls['draw_time'].errors['required']">
        Draw Time is required.
      </mat-error>
    </mat-form-field>
  </div> 
  <button class="button-submit" [disabled]="wait">{{wait? 'Please wait..': 'Update'}}</button>

</form>
